@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html{scroll-behavior:smooth}

.about h2 {
  color: #70C565;
  font-family: var(--font-roboto);
}

.blog h2 {
  color: #70C565;
}

.blog-card {
  max-width: 400px;
}

.bio-gray {
  color: #707070;
}

.bio-green {
  color: #60BC52;
}

.border-bio-green {
  border: 1px solid #60BC52;
}

.hr-border-bio-gray {
  border-top: 3px solid #707070;
}

.bio-orange {
  color: #F5A861;
}

.bg-bio-orange {
  background: #F5A861;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
